<h1>List page</h1>
<div>
    <h2>Team members</h2>
    <span>You have x team members.</span>
    <hr />
    {{#each @model as |member|}}
    <li>{{member.first_name}} {{member.last_name}}</li>
    <li>{{member.phone_number}}</li>
    <li>{{member.email}}</li>
    <hr />
    {{/each}}
</div>